body {
  background-color: whitesmoke;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.Formula-Grid {
  display: grid;
  margin: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 50px;
}

.Formula-Box {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
  transition: all 300ms;
}

.Formula-Box:hover {
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.Formula-Box>h2 {
  height: 2em;
}

.formula-math {
  min-height: 8em;
}

.formula-inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5em;
}

.formula-incont {
  flex: 1;
}

.formula-inputs>p {
  margin-top: auto;
  padding-top: 1em;
  font-weight: bold;
}

.formula-inbox {
  margin: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formula-inbox>label {
  flex: 1;
  text-align: left;
  /* max-width: 50%; */
}

.formula-inbox>input {
  flex: 1;
  max-height: 1em;
  max-width: 70px;
}