body {
  background-color: whitesmoke;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.Formula-Grid {
  display: grid;
  margin: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 50px;
}

.Formula-Box {
  height: 200px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.formula-content {}

.formula-inbox {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formula-inbox>label {
  flex: 1;
  max-width: 30%;
}

.formula-inbox>input {
  flex: 1;
  max-width: 70px;
}

.formula-inputs>input {}